@model GoEngineerCodingExample.Models.FilmModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details for @Model.title</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.episode_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.episode_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opening_crawl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opening_crawl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.release_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.release_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.characters)
        </dt>
        <dd class="col-sm-10">
            @foreach (var link in Model.CharacterLinks)
            {
                <li>
                    <a asp-area=" " asp-controller="People" asp-action="Details" asp-route-id="@link.Id">@link.Name</a>
                </li>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.planets)
        </dt>
        <dd class="col-sm-10">
            @foreach (var link in Model.PlanetLinks)
            {
                <li>
                    <a asp-area=" " asp-controller="Planet" asp-action="Details" asp-route-id="@link.Id">@link.Name</a>
                </li>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.starships)
        </dt>
        <dd class="col-sm-10">
            @foreach (var link in Model.StarShipLinks)
            {
                <li>
                    <a asp-area=" " asp-controller="StarShipModels" asp-action="Details" asp-route-id="@link.Id">@link.Name</a>
                </li>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vehicles)
        </dt>
        <dd class="col-sm-10">
            @foreach (var link in Model.VehicleLinks)
            {
                <li>
                    <a asp-area=" " asp-controller="Vehicle" asp-action="Details" asp-route-id="@link.Id">@link.Name</a>
                </li>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.species)
        </dt>
        <dd class="col-sm-10">
            @foreach (var link in Model.SpeciesLinks)
            {
                <li>
                    <a asp-area=" " asp-controller="Species" asp-action="Details" asp-route-id="@link.Id">@link.Name</a>
                </li>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.edited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.edited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.url)
        </dt>
        <dd class = "col-sm-10">
            <a href="@Html.DisplayFor(model => model.url)">View in SWAPI</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
